:root {
  --dblue: #0099ad;
  --red: #d51367;
  --white: white;

}

/*  ----------PIXEL ART MAKER-----------*/
* {
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  line-height: 2em;
}

.center {
  text-align: center;
  margin: auto;
}


.content {
  width: 90vw;
  min-height: 99vh;
  margin: auto;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-weight: bold;
}

#header {
  font-family: "Press Start 2p";
  font-size: 40px;
  padding: 10px;
  margin: 10px;
  color: var(--dblue);
  border-bottom: 5px solid var(--dblue);
}

.sub-header {
  font-size: 35px;
  color: var(--red)
}

input {
  margin: 10px;
}

#grid-and-info-list-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  color: var(--dblue);
  background-color: var(--white);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);

}

button:hover {
  border: 3px solid var(--dblue);
}

#erase-button {
  color: var(--red)
}

#form-button {
  background-color: var(--red);
  color: var(--white);
}

#info-container {
  width: 250px;
  font-weight: bold;
  display: none;
  margin: 10px;
}

#info-list {
  font-size: 16px;
  padding: none;
  margin: 15px;
  color: var(--dblue)
}

.grid-display-container {
  padding-top: 20px;
}

#grid-table {
  border-collapse: collapse;
  background-color: var(--white);
}

td {
  border: solid 1px gray;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/*------ COLORPICKER--------------------*/

canvas {
  cursor: crosshair;
}

.border {
  border: 1px solid var(--dblue);
}

#canvas-container {
  display: none;
  border-radius: 5px;
  position: absolute;
  background-color: #9ca0bc;
  width: 300px;
  max-height: 160px;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 8px 18px -1px rgba(0, 0, 0, 0.75);
  border: 1px solid gray;
}

canvas,
.small-label {
  margin: 3px;
}

#close-canvas-button {
  position: absolute;
  right: -25px;
  top: -25px;
  font-size: small;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
  box-shadow: none;
}

.small-label {
  font-size: 12px;
}

.small-view {
  width: 13px;
  height: 13px;
}

.view {
  width: 45px;
  height: 45px;
}

#recents-container {
  display: flex;
  flex-wrap: wrap;
}

.recent-color {
  cursor: pointer;
  margin: 2px;
}